<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
 <!--<![endif]-->
<head>

	<!--- basic page needs
	================================================== -->
	<meta charset="utf-8">
	<title>Rafael Vieira Suarez</title>
	<meta name="description" content="Portifolio Rafael Vieira Suarez">
	<meta name="author" content="Rafael Vieira Suarez">

	<!-- mobile specific metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/vendor.css">

	<!-- script
	================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

	<!-- favicons
	 ================================================== -->
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body id="top">

	<!-- header
	================================================== -->
	<header>
		<div class="row">

			<div class="top-bar">
				<a class="menu-toggle" href="#"><span>Menu</span></a>

				<div class="logo">
					<a href="index.html">SUAREZ</a>
				</div>

				<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll" href="#intro" title="">Início</a></li>
						<li><a class="smoothscroll" href="#about" title="">Sobre</a></li>
						<li><a class="smoothscroll" href="#resume" title="">Resumo</a></li>
						<li><a class="smoothscroll" href="#portfolio" title="">Portfólio</a></li>
						<li><a class="smoothscroll" href="#services" title="">Serviços</a></li>
						<li><a class="smoothscroll" href="#contact" title="">Contato</a></li>
					</ul>
				</nav>
			</div> <!-- /top-bar -->

		</div> <!-- /row -->
	</header> <!-- /header -->
	<!-- intro section
	================================================== -->
	<section id="intro">

		<div class="intro-overlay"></div>

		<div class="intro-content">
			<div class="row">

				<div class="col-twelve">

					<h5>Olá.</h5>
					<h1>Eu sou Rafael Suarez.</h1>

					<p class="intro-position">
						<span>Desenvolvedor .NET</span>
					</p>

					<a class="button stroke smoothscroll" href="#about" title="">Mais sobre mim</a>

				</div>

			</div>
		</div> <!-- /intro-content -->

		<ul class="intro-social">
			<li><a href="#"><i class="fa fa-facebook"></i></a></li>
			<li><a href="#"><i class="fa fa-behance"></i></a></li>
			<li><a href="#"><i class="fa fa-twitter"></i></a></li>
			<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
			<li><a href="#"><i class="fa fa-instagram"></i></a></li>
		</ul> <!-- /intro-social -->

	</section> <!-- /intro -->
	<!-- about section
	================================================== -->
	<section id="about">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Sobre</h5>
				<h1>Deixe-me me apresentar.</h1>

				<div class="intro-info">

					<img src="images/rafael-pic.png" alt="Profile Picture">

					<p class="lead">Sou Bacharel em Informática e Engenheiro de Software com 12 anos de experiência em desenvolvimento.</p>
				</div>

			</div>
		</div> <!-- /section-intro -->

		<div class="row about-content">

			<div class="col-six tab-full">

				<h3>Perfil</h3>
				<p>Tenho habilidades para trabalhar em equipe, um forte senso de responsabilidade e liderança, e um interesse em idiomas e em novas experiências na área.</p>
				<ul class="info-list">
					<li>
						<strong>Nome completo:</strong>
						<span>Rafael Vieira Suarez</span>
					</li>
					<li>
						<strong>Data de nascimento:</strong>
						<span>Fevereiro 06, 1989</span>
					</li>
					<li>
						<strong>Trabalho:</strong>
						<span>Desenvolvedor</span>
					</li>
					<li>
						<strong>Website:</strong>
						<span>http://rafaelsuarez.somee.com/</span>
					</li>
					<li>
						<strong>E-mail:</strong>
						<span>rafaelv_s@hotmail.com</span>
					</li>

				</ul> <!-- /info-list -->

			</div>

			<div class="col-six tab-full">

				<h3>Habilidades</h3>
				<p>Atualmente, desempenho o papel de Desenvolvedor Sênior, professor em um curso técnico de informática e instrutor do programa de bolsas C#. Além disso, estou estudando para obter a certificação AZ-204 Microsoft Azure. Minhas principais competências incluem C#, .Net, .Net Core, Git, Azure DevOps, Jenkins, Google PubSub, e microsserviços. Trabalho com frameworks como Windows Forms, Asp Net MVC, Asp Net Core e Rest API.</p>

				<ul class="skill-bars">
					<li>
						<div class="progress percent90"><span>90%</span></div>
						<strong>C#</strong>
					</li>
					<li>
						<div class="progress percent85"><span>85%</span></div>
						<strong>.NET</strong>
					</li>
					<li>
						<div class="progress percent70"><span>70%</span></div>
						<strong>HTML</strong>
					</li>
					<li>
						<div class="progress percent20"><span>20%</span></div>
						<strong>Java</strong>
					</li>
					<li>

						<div class="progress percent75"><span>75%</span></div>
						<strong>ASP NET Core</strong>
					</li>

				</ul> <!-- /skill-bars -->

			</div>

		</div>

		<div class="row button-section">
			<div class="col-twelve">
				<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Me contrate</a>
				<a href="#" title="Download CV" class="button button-primary">Baixe o CV</a>
			</div>
		</div>

	</section> <!-- /process-->
	<!-- resume Section
	================================================== -->
	<section id="resume" class="grey-section">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Resumo</h5>
				<h1>Mais das minhas credenciais.</h1>

				<p class="lead">Atuo como consultor desenvolvedor de software na consultoria Compass.Uol. Considero a melhor consultoria de serviços de Ti do Brasil.</p>

			</div>
		</div> <!-- /section-intro-->

		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Experiência de trabalho</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3>Desenvolvedor .NET</h3>
							<p>Jan 2023 - Presente - 5 meses</p>
						</div>

						<div class="timeline-content">
							<h4>Carrefour Soluções Financeiras</h4>
							<p>
								Desenvolvedor de software atuando no time de sustentação.
								Stack: .Net Framework, WCF, Soap, Worker, Windows Service, Bitbucket, Git, Visual Studio 2022, Sql Server, Service Broker, Rabbit MQ.
							</p>
						</div>

					</div> <!-- /timeline-block -->

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3>Desenvolvedor .NET</h3>
							<p>ago 2021 - maio 2023 - 1 ano 10 meses</p>
						</div>

						<div class="timeline-content">
							<h4>Banco Digital Dotz</h4>
							<p>
								Desenvolvedor de software. Participando do Studio de Integration.
								Alocado em cliente como arquiteto de solução. Realizando a modelagem de microsservicos de um e-commerce com stack Oracle Cx Commerce, Knockout.js front-end, .Net Core 3.1 com c# back-end, google cloud com kubernetes, cron job, mensageria via pubsub, banco de dados mysql, cache redis.
								Participando do programa de Bolsas como Instrutor .NET : C#, Entity Framework, API Rest.
							</p>
						</div>

					</div> <!-- /timeline-block -->


					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3>Professor</h3>
							<p>Jul 2019 - Jul 2021 - 2 anos 1 mês</p>
						</div>

						<div class="timeline-content">
							<h4>Senac RS</h4>
							<p>Professor do curso técnico em informática com ênfase em desenvolvimento de sistemas.</p>
						</div>

					</div> <!-- /timeline-block -->

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3>Desenvolvedor .NET</h3>
							<p>Jul 2019 - Jul 2021 - 2 anos 1 mês</p>
						</div>

						<div class="timeline-content">
							<h4>Universal Leaf Tobacco</h4>
							<p>
								Desenvolvedor .NET Sênior
								Tecnologias: Asp NET MVC 5, C# , Typescript, cshtml, css, UI windows forms, ORM Devart, tfs, git, devops, MSTest.
								Metodologia Scrum.
							</p>
						</div>

					</div> <!-- /timeline-block -->

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-graduation-cap"></i>
						</div>

						<div class="timeline-header">
							<h3>Desenvolvedor Java & Core Builder</h3>
							<p>Fev 2010 - Jul 2019</p>
						</div>

						<div class="timeline-content">
							<h4>Deltasul Utilidades</h4>
							<p>
								Desenvolvimento de ERP com ferramenta CoreBuilder Framework, linguagem de programação xHarbour e Banco de dados Oracle 11g.
								Desenvolvimento de soluções personalizadas , linguagem Java.
							</p>
						</div>

					</div> <!-- /timeline-block -->

				</div> <!-- /timeline-wrap -->

			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->

		<div class="row resume-timeline">

			<div class="col-twelve resume-header">

				<h2>Educação</h2>

			</div> <!-- /resume-header -->

			<div class="col-twelve">

				<div class="timeline-wrap">

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>

						<div class="timeline-header">
							<h3>Especialização</h3>
							<p>July 2012 - 2014</p>
						</div>

						<div class="timeline-content">
							<h4>ESAB</h4>
							<p>
								Projeto de Sistemas;
								Análise e Modelagem de Banco;
								Teste de Software.
							</p>
						</div>

					</div> <!-- /timeline-block -->

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>

						<div class="timeline-header">
							<h3>Graduação</h3>
							<p>Fev 2006 - Dez 2009</p>
						</div>

						<div class="timeline-content">
							<h4>URCAMP</h4>
							<p>Bacharel em Informática. Análise e Desenvolvimento de Sistemas em Delphi. TRabalho Final utilizando Algoritmo de IA Perceptron</p>
						</div>

					</div> <!-- /timeline-block -->

					<div class="timeline-block">

						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>

						<div class="timeline-header">
							<h3>Técnico Informática</h3>
							<p>May 2005 - June 2006</p>
						</div>

						<div class="timeline-content">
							<h4>EAFA</h4>
							<p>Curso Técnico em Informática. Manutenção de Computadores, desenvolvimento de sistemas em Delphi.</p>
						</div>

					</div> <!-- /timeline-block -->

				</div> <!-- /timeline-wrap -->

			</div> <!-- /col-twelve -->

		</div> <!-- /resume-timeline -->

	</section> <!-- /features -->
	<!-- Portfolio Section
	================================================== -->
	<section id="portfolio">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Portfolio</h5>
				<h1>Confira Alguns de Meus Trabalhos.</h1>

				<p class="lead">Aqui você poderá conferir alguns projetos que realizei durante a carreira. Alguns itens do portifólio são somente prints ou descrições, devido a confidencialidade dos produtos dos clientes.</p>

			</div>
		</div> <!-- /section-intro-->

		<div class="row portfolio-content">

			<div class="col-twelve">

				<!-- portfolio-wrapper -->
				<div id="folio-wrapper" class="block-1-2 block-mob-full stack">

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<img src="images/portfolio/multiafetos.jpg" alt="Liberty">
							<a href="#modal-01" class="overlay">
								<div class="folio-item-table">
									<div class="folio-item-cell">
										<h3 class="folio-title">Multi Afetos</h3>
										<span class="folio-types">
											Gestão de Pacientes
										</span>
									</div>
								</div>
							</a>
						</div>
					</div> <!-- /folio-item -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<img src="images/portfolio/dotz.png" alt="Dotz">
							<a href="#modal-02" class="overlay">
								<div class="folio-item-table">
									<div class="folio-item-cell">
										<h3 class="folio-title">Dotz.com.br</h3>
										<span class="folio-types">
											Backend do E-commerce
										</span>
									</div>
								</div>
							</a>
						</div>
					</div> <!-- /folio-item -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<img src="images/portfolio/carrefour.png" alt="Clouds">
							<a href="#modal-03" class="overlay">
								<div class="folio-item-table">
									<div class="folio-item-cell">
										<h3 class="folio-title">Carrefour Soluções</h3>
										<span class="folio-types">
											Backend das Soluções Financeiras
										</span>
									</div>
								</div>
							</a>
						</div>
					</div> <!-- /folio-item -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<img src="images/portfolio/universal.jpg" alt="Beetle">
							<a href="#modal-04" class="overlay">
								<div class="folio-item-table">
									<div class="folio-item-cell">
										<h3 class="folio-title">Universal Leaf</h3>
										<span class="folio-types">
											front-end e Back-end dos sistemas fabris
										</span>
									</div>
								</div>
							</a>
						</div>
					</div> <!-- /folio-item -->

					<div class="bgrid folio-item">
						<div class="item-wrap">
							<img src="images/portfolio/deltasul.jpg" alt="Lighthouse">
							<a href="#modal-05" class="overlay">
								<div class="folio-item-table">
									<div class="folio-item-cell">
										<h3 class="folio-title">ERP Deltasul</h3>
										<span class="folio-types">
											FullStack do sistema de gestão empresarial
										</span>
									</div>
								</div>
							</a>
						</div>
					</div> <!-- /folio-item -->
					<!-- modal popups - begin
					============================================================= -->
					<div id="modal-01" class="popup-modal slider mfp-hide">

						<div class="media">
							<img src="images/portfolio/modals/m-multiafetos.jpg" alt="" />
						</div>

						<div class="description-box">
							<h4>Multi Afetos</h4>
							<p>Este projeto atende uma demanda de Clínica Multi Afetos que presta serviço de Terapia ocupacional para pacientes. A proprietária desejava gerencias os documentos dos pacientes de uma forma catalogada.</p>

							<div class="categories">Desenvolvimento Web </div>
						</div>

						<div class="link-box">
							<a href="http://multiafetos-001-site1.itempurl.com/">Detalhes</a>
							<a href="#" class="popup-modal-dismiss">Fechar</a>
						</div>

					</div> <!-- /modal-01 -->

					<div id="modal-02" class="popup-modal slider mfp-hide">

						<div class="media">
							<img src="images/portfolio/modals/m-dotz.png" alt="" />
						</div>

						<div class="description-box">
							<h4>Dotz.com.br</h4>
							<p>Neste projeto atuei desenvolvendo o back-end do e-commerce do parceiro.</p>

							<div class="categories">Desenvolvimento Web</div>
						</div>

						<div class="link-box">
							<a href="https://dotz.com.br/home">Detalhes</a>
							<a href="#" class="popup-modal-dismiss">Fechar</a>
						</div>

					</div> <!-- /modal-02 -->

					<div id="modal-03" class="popup-modal slider mfp-hide">

						<div class="media">
							<img src="images/portfolio/modals/m-carrefour.png" alt="" />
						</div>

						<div class="description-box">
							<h4>Carrefour Soluções Financeiras</h4>
							<p>Neste projeto trabalhei no time de sustentação que dava manutenção em alguns sistemas de proposta de cartão de crédito. Utilizando tecnologias como html, css, javascript, .Net Framework 4.7, WCF</p>

							<div class="categories">Desenvolvimento Web</div>
						</div>

						<div class="link-box">
							<a href="https://www.carrefoursolucoes.com.br/">Detalhes</a>
							<a href="#" class="popup-modal-dismiss">Fechar</a>
						</div>

					</div> <!-- /modal-03 -->

					<div id="modal-04" class="popup-modal slider mfp-hide">

						<div class="media">
							<img src="images/portfolio/modals/m-universal.jpg" alt="" />
						</div>

						<div class="description-box">
							<h4>Universal Leaf Tabacos</h4>
							<p>
								Na empresa Universal trabalhei como Desenvolvedor .NET Sênior
								Tecnologias: Asp NET MVC 5, C# , Typescript, cshtml, css, UI windows forms, ORM Devart, tfs, git, devops, MSTest.
								Metodologia Scrum.
							</p>

							<div class="categories">Desenvolvedor FullStack</div>
						</div>

						<div class="link-box">
							<a href="http://www.universalcorp.com/UniversalLeaf/SouthAmerica">Detalhes</a>
							<a href="#" class="popup-modal-dismiss">Fechar</a>
						</div>

					</div> <!-- /modal-04 -->

					<div id="modal-05" class="popup-modal slider mfp-hide">

						<div class="media">
							<img src="images/portfolio/modals/m-deltasul.jpg" alt="" />
						</div>

						<div class="description-box">
							<h4>Deltasul Utilidades</h4>
							<p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

							<div class="categories">Web Development</div>
						</div>

						<div class="link-box">
							<a href="https://deltasul.com.br/">Detalhes</a>
							<a href="#" class="popup-modal-dismiss">Fechar</a>
						</div>

					</div> <!-- /modal-05 -->
					<!-- modal popups - end
					============================================================= -->

				</div> <!-- /portfolio-wrapper -->

			</div>  <!-- /twelve -->

		</div> <!-- /portfolio-content -->

	</section> <!-- /portfolio -->
	<!-- services Section
	================================================== -->
	<section id="services">

		<div class="overlay"></div>

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Serviços</h5>
				<h1>O que eu posso fazer por você?</h1>

				<p class="lead">Atuamente posso lhe oferecer a prestação de serviço através de consultoria, Know How de escolha de tecnologias para criação de um produto personalizado de software.</p>

			</div>
		</div> <!-- /section-intro -->

		<div class="row services-content">

			<div id="owl-slider" class="owl-carousel services-list">

				<div class="service">

					<span class="icon"><i class="icon-earth"></i></span>

					<div class="service-content">

						<h3>Sistemas Web</h3>

						<p class="desc">
							Posso lhe oferecer o desenvolvimento de sistemas web de vários nichos de negócio. Com tecnologias como ASP NET MVC, MySQL, SQL Server.
						</p>

					</div>

				</div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-window"></i></span>

					<div class="service-content">

						<h3>Desenvolvimento Móvel</h3>

						<p class="desc">
							Posso lhe oferecer  o desenvolvimento de aplicativo móvel customizado. Com tecnologias como .NET MAUI, com banco de dados interno em conjunto WEB API ASP NET Core para sistemas distribuídos.
						</p>

					</div>

				</div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-paint-brush"></i></span>

					<div class="service-content">

						<h3>Desenvolvimento Desktop</h3>

						<p class="desc">Posso lhe oferece o desenvolvimento de aplicativo desktop monolito. Com tecnologias como .Net Framework, Windows Forms, MySQL, Entity Framework.</p>

					</div>

				</div> <!-- /service -->

				<div class="service">

					<span class="icon"><i class="icon-toggles"></i></span>

					<div class="service-content">

						<h3>UI Design</h3>

						<p class="desc">
							Posso lhe oferecer a montagem de UI baseada em templates pagos e a integração dos templates em projetos .NET Core para criação de Front-end.
						</p>

					</div>

				</div> <!-- /service -->


				<div class="service">

					<span class="icon"><i class="icon-chat"></i></span>

					<div class="service-content">

						<h3>Consultoria</h3>

						<p class="desc">Posso lhe oferecer consultoria Especializada em plataforma Azure para migrar sua aplicação para cloud azure. Auxiliar no cálculo de custos de ambientes em nuvem.     			</p>

					</div>

				</div> <!-- /service -->

			</div> <!-- /services-list -->

		</div> <!-- /services-content -->

	</section> <!-- /services -->
	<!-- stats Section
	================================================== -->
	<section id="stats" class="count-up">

		<div class="row">
			<div class="col-twelve">

				<div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-pencil-ruler"></i>
						</div>

						<h3 class="stat-count">
							6
						</h3>

						<h5 class="stat-title">
							Projetos Completados
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-users"></i>
						</div>

						<h3 class="stat-count">
							6
						</h3>

						<h5 class="stat-title">
							Clientes Felizes
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-badge"></i>
						</div>

						<h3 class="stat-count">
							0
						</h3>

						<h5 class="stat-title">
							Prêmios Recebidos
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-light-bulb"></i>
						</div>

						<h3 class="stat-count">
							0
						</h3>

						<h5 class="stat-title">
							Idéias malucas
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-cup"></i>
						</div>

						<h3 class="stat-count">
							1000
						</h3>

						<h5 class="stat-title">
							Xícaras de Café
						</h5>

					</div> <!-- /stat -->

					<div class="bgrid stat">

						<div class="icon-part">
							<i class="icon-clock"></i>
						</div>

						<h3 class="stat-count">
							23725
						</h3>

						<h5 class="stat-title">
							Horas codificadas
						</h5>

					</div> <!-- /stat -->

				</div> <!-- /stats-list -->

			</div> <!-- /twelve -->
		</div> <!-- /row -->

	</section> <!-- /stats -->
	<!-- contact
	================================================== -->
	<section id="contact">

		<div class="row section-intro">
			<div class="col-twelve">

				<h5>Contato</h5>
				<h1>Eu adoraria ouvir você.</h1>

				<p class="lead">Se você tem alguma pergunta, sugestão ou apenas deseja dizer oi, sinta-se à vontade para entrar em contato comigo. Estou sempre aberto a novas oportunidades e colaborações emocionantes.</p>

			</div>
		</div> <!-- /section-intro -->

		<div class="row contact-form">

			<div class="col-twelve">

				<!-- form -->
				<form name="contactForm" id="contactForm" method="post" action="">
					<fieldset>

						<div class="form-field">
							<input name="contactName" type="text" id="contactName" placeholder="Nome" value="" minlength="2" required="">
						</div>
						<div class="form-field">
							<input name="contactEmail" type="email" id="contactEmail" placeholder="E-mail" value="" required="">
						</div>
						<div class="form-field">
							<input name="contactSubject" type="text" id="contactSubject" placeholder="Assunto" value="">
						</div>
						<div class="form-field">
							<textarea name="contactMessage" id="contactMessage" placeholder="Mensagem" rows="10" cols="50" required=""></textarea>
						</div>
						<div class="form-field">
							<button class="submitform">Enviar</button>
							<div id="submit-loader">
								<div class="text-loader">Enviando...</div>
								<div class="s-loader">
									<div class="bounce1"></div>
									<div class="bounce2"></div>
									<div class="bounce3"></div>
								</div>
							</div>
						</div>

					</fieldset>
				</form> <!-- Form End -->
				<!-- contact-warning -->
				<div id="message-warning">
				</div>
				<!-- contact-success -->
				<div id="message-success">
					<i class="fa fa-check"></i>Sua mensagem foi enviada, Obrigado!<br>
				</div>

			</div> <!-- /col-twelve -->

		</div> <!-- /contact-form -->

		<div class="row contact-info">

			<div class="col-four tab-full">

				<div class="icon">
					<i class="icon-pin"></i>
				</div>

				<h5>Onde me encontrar</h5>

				<p>
					Euclydes Kliemann<br>
					Santa Cruz do Sul, RS<br>
					96835-422 BR
				</p>

			</div>

			<div class="col-four tab-full collapse">

				<div class="icon">
					<i class="icon-mail"></i>
				</div>

				<h5>Envia um e-mail para</h5>

				<p>
					rafaelv_s@hotmail.com<br>
				</p>

			</div>

			<div class="col-four tab-full">

				<div class="icon">
					<i class="icon-phone"></i>
				</div>

				<h5>Me ligue através de</h5>

				<p>
					Celular: (51) 99970 8050<br>

				</p>

			</div>

		</div> <!-- /contact-info -->

	</section> <!-- /contact -->
	<!-- footer
	================================================== -->

	<footer>
		<div class="row">

			<div class="col-six tab-full pull-right social">

				<ul class="footer-social">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-behance"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram"></i></a></li>
				</ul>

			</div>

			<div class="col-six tab-full">
				<div class="copyright">
					<span>© Copyright Kards 2016.</span>
					<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
				</div>
			</div>

			<div id="go-top">
				<a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
			</div>

		</div> <!-- /row -->
	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
	================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>

</body>

</html>